@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

:root {
  --card-border-radius: 0.75rem;
  --card-item-size: 50vh;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  width: 100%;
  padding: 0 1.25rem;

  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1.25rem;
}

.menu-item {
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 600;
  transition: color 300ms ease-out;
}

.menu-active {
  color: #ffd93d;
}

.menu-item:hover {
  color: #838383;
}

.search-bar {
  float: right;
  border: 1px solid black;
  border-radius: 500px;
  padding: 0.25rem 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar button {
  background: none;
  border: none;

  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;

  font-size: 1.25rem;
}

.card-list-container {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.card-item {
  border-radius: var(--card-border-radius);
}

.card-item:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: var(--card-border-radius);
  box-shadow: 0 4 12 rgba(0, 0, 0, 0.1);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background-image: url(../public/face-back.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 0 0.5rem;
  color: #f9f54b;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--card-border-radius);
  pointer-events: none;
}

.back h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.back p {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .search-bar {
    width: 30%;
  }

  .card-item {
    width: 15rem;
    height: 30rem;
  }
}

@media (min-width: 768px) {
  .search-bar {
    width: 30%;
  }

  .search-bar input {
    width: 50%;
  }

  .card-item {
    width: 15rem;
    height: 30rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-bar {
    width: 100%;
    padding: 0.25rem;
  }

  .search-bar input {
    font-size: 1rem;
  }

  .menu {
    gap: 0.5rem;
  }

  .menu-item {
    font-size: 1rem;
  }

  .card-item {
    width: 25rem;
    height: 48rem;
  }
}
